.navbar-nav .nav-item {
  cursor: pointer;
}

.disconnect {
  width: 35px;
  height: 35px;
  border: 1px solid #dc3545;
  border-radius: 3pc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}

.disconnect:hover {
  transform: scale(1.2) rotate(360deg);
}
