<div class="container">
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label >Email</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email">
  </div>
  <div class="form-group">
    <label >Mot de passe</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Je me connecte</button>
  <div *ngIf="showError" class="alert alert-danger" role="alert">
    Erreur lors de l'identification. Votre mot de passe est peut-être erroné
  </div>
</form>
</div>
