<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Connection</title>
</head>
<body>
<section layout:fragment="body" style="height: calc(100% + 4rem);">
    <div class="main_content header-filter" style="background: linear-gradient(135deg, #9a9a9a, #dfdfdf); height: 100%; background-position: center; background-size: cover; background-repeat: no-repeat; margin-top: -1rem; padding-top: 3rem;" >
        <div class="container header-filter" style="padding: 2rem;border-radius: 30px;overflow: hidden;">
            <div class="row">
                <div class="col-md-12" style="z-index: 2;" sec:authorize="!isAuthenticated()">
                    <h1 class="text-center text-white">Connectez-vous</h1>
                    <form th:action="@{/login}" method="post">
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                Nom d'utilisateur ou mot de passe incorrect.
                            </div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-success">
                                Vous avez été déconnecté.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username">E-mail</label>
                            <div class="input-group mb-2 mr-sm-2 rounded bg-info">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-white"><i class="material-icons-outlined">email</i></div>
                                </div>
                                <input type="text"
                                       id="username"
                                       name="username"
                                       class="form-control"
                                       autofocus="autofocus"
                                       placeholder="E-mail"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <div class="input-group mb-2 mr-sm-2 rounded bg-info">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-white"><i class="material-icons-outlined">lock</i></div>
                                    </div>
                                    <input type="password"
                                           id="password"
                                           name="password"
                                           class="form-control"
                                           placeholder="Mot de passe"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit"
                                               name="login-submit"
                                               id="login-submit"
                                               class="btn btn-info"
                                               value="Se connecter"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="text-white">Nouvel utilisateur ? <a href="/" th:href="@{/registration}">Enregistrez-vous ici</a></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12" style="z-index: 2;" sec:authorize="isAuthenticated()">
                    <h1 class="text-center text-white">Connectez-vous</h1>
                    <div class="alert alert-success">
                        Vous êtes connecté, vous pouvez-naviguer en utilisant le menu.
                    </div>
                </div>
            </div>
        </div>
</section>
</body>
</html>
