<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/favicon/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/favicon/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/favicon/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/favicon/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/favicon/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/favicon/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/favicon/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/favicon/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192"  th:href="@{/favicon/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/favicon/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/favicon/manifest.json}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">AirBank</title>
</head>
<body>
<header layout:fragment="header">
    <nav class="navbar fixed-top navbar-expand-lg bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">AirBank</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li sec:authorize="!isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/registration' ? 'active':''}">
                        <a class="nav-link" th:href="@{/registration}">S'enregistrer</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active':''}">
                        <a class="nav-link" th:href="@{/login}">Se connecter</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/account' ? 'active':''}">
                        <a class="nav-link" th:href="@{/account}">Mon compte</a>
                    </li>
                </ul>
                <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">person</i>
                            <div class="ripple-container"></div></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                            <a class="dropdown-item" th:href="@{/user}">Votre profil<div class="ripple-container"><div class="ripple-decorator ripple-on ripple-out" style="left: 112px; top: 28px; background-color: rgb(255, 255, 255); transform: scale(18.75);"></div></div></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/logout}">Se déconnecter</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="main_content" style="padding-top: 5rem;">
    <section layout:fragment="body">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Bienvenue sur AirBank</h1>
                </div>
            </div>
        </div>
    </section>
</div>

<footer class="footer py-4 mt-5 bg-dark text-center text-white-50" layout:fragment="footer">
    <div class="container">
        Copyright © AirBank By Pietrzak Aurélien & Jourdain Nicolas 2020
    </div>
</footer>

<script type="text/javascript">
    $('li.dropdown.keepopen a').on('click', function (event) {
        $(this).parent().toggleClass('show');
        $(this).parent().find('.dropdown-menu').first().toggleClass('show')
    });
    $('body').on('click', function (e) {
        if (!$('li.dropdown.keepopen').is(e.target)
            && $('li.dropdown.keepopen').has(e.target).length === 0
            && $('.show').has(e.target).length === 0) {
            $('li.dropdown.keepopen').find('.dropdown-menu').first().removeClass('show')
            $('li.dropdown.keepopen').removeClass('show');
        }
    });
    $('.confirmReservation').on('click', function (event) {
        var input = $(this)
        var id = input.data('id')
        $.ajax({
            url : '/reservation/accepter-reservation?id_reservation=' + id,
            type : 'GET',
            success : function(code_html, statut){
                input.prop( "disabled", true );
                input.prop( "checked", true );
                input.closest('label').find('span.text').first().text("Réservation confirmée")
            },
            error : function(resultat, statut, erreur){
                input.prop( "checked", false );
            },
            complete : function(resultat, statut){

            }
        });
    });
</script>
</body>
</html>
