<button routerLink="/create-product" type="button" class="btn btn-dark">Ajouter produit</button>

<div style="display: flex; flex-wrap: wrap">
  <div *ngFor="let p of products" class="card">
    <div class="image-top" [ngStyle]="{'background-image' : 'url(' + p.urlPictures + ')'}"></div>
    <div class="card-body">
      <h5 class="card-title">{{p.name}}</h5>
      <p class="card-text">{{p.description}}</p>
      <a routerLink="/product/{{p.id}}" class="btn btn-primary">Détail</a>
    </div>
  </div>
</div>
