.image-top {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
}

.card {
  width: 200px;
  margin: 2rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
